:root {
    --font-family: "Noto Sans", sans-serif;

    --gap: 20px;
    --container-width: 1300px;
    --container-offset: 15px;

    // ColorScheme
    --white: #f8ede3;
    --black: #212121;
    --light: #bdd2b6;
    --medium: #a2b29f;
    --dark: #798777;

    --welcome-bg-color: #d9d9d9;
    --info-tag-bg: #ffe500;
    --course-card-bg: #d9d9d9;
    --teacher-card-bg: #d9d9d9;
    --feedback-bg: #2E2E2E;

    // Buttons
    --primary-color: #5196ff;
    // --secondary-color: #;
}
