.header {
  min-height: 50px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;

  .header__logo {
    margin-left: 1rem;

    a {
      font-size: 25pt;
      font-weight: bold;

      .header__underscope {
      }
    }
  }

  .header__navholder {
    margin-left: auto;
    margin-right: 1rem;
  }
}
