.header {
    
}

.header__container {
    display: flex;

    align-items: center;
    justify-content: space-between;

    .header__logo img {
        padding: 20px 0;
    }

    .header__button_container ul {
        display: flex;
        margin: 0;
        padding: 20px 0;

        a {
            text-decoration: none;
            color: var(--black);
            font-size: 18px;
        }
    }
}


